.grid-box {
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 32px;
  width: 32px;
}

.cursor-box {
  position: absolute;
  background-color: transparent;
  height: 32px;
  width: 32px;
}

.cursor-box::before,
.cursor-box::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 1;
  transition: opacity 300ms;
}

.cursor-box::before {
  background: radial-gradient(
    30px circle at var(--mouse-x) var(--mouse-y),
    rgb(255, 255, 255),
    transparent 100%
  );
  z-index: 1;
}

.cursor-box::after {
  background: radial-gradient(
    70px circle at var(--mouse-x) var(--mouse-y),
    rgba(43, 43, 43, 0.23),
    transparent 100%
  );
  z-index: 3;
}

.cursor-box-content {
  position: absolute;
  inset: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px;
  background-color: rgb(40, 40, 40);
  border-radius: inherit;
  z-index: 2;
}
